:root {
  --background: rgb(0, 0, 0);
  --accent: rgb(0, 230, 230); /* #00f2ff */
  --light-text: whitesmoke;
  --dark-text: rgb(190, 190, 190);
}

/* reset style */
*,
html {
  scroll-behavior: smooth !important;
}
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background: var(--background);
  line-height: 1;
  position: relative;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

p,
div,
span,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
}

/* navigation style */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 90vw;
  margin-inline: auto;
  padding: 1rem 0 1rem 0;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav ul li {
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}

nav ul li:hover {
  transform: translateY(-3px);
  color: var(--accent);
}

.logo {
  font-size: 2.5rem;
  color: var(--accent);
}

.social-icons {
  display: none;
}

.social-icons > a {
  transition: all 0.3s ease-in-out;
}

.social-icons > a:hover {
  color: var(--accent);
  transform: translateY(-12%);
}

@media (min-width: 50em) {
  nav {
    display: none;
  }
  nav ul li {
    font-size: 1rem;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.3rem;
  }
}

/* sticky side style */

.sticky {
  display: none;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
}

.email:hover {
  color: var(--accent);
  border-color: var(--accent);
  transform: translateY(-3%);
}

.email > .shuaibu-email {
  font-size: 0.7rem;
  writing-mode: vertical-rl;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.email > span {
  width: 2px;
  height: 1rem;
  background: var(--light-text);
}

.email > .email-icon {
  transform: rotate(90deg);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.nav-items {
  display: inline-block;
  font-size: clamp(0.6rem, 2vw, 1.8rem);
  background: linear-gradient(
    to right,
    var(--accent),
    var(--accent) 50%,
    var(--light-text) 50%
  );
  border-bottom: 1px solid transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.5s ease-in-out;
}

.nav-items:hover {
  border-bottom-color: var(--accent);
  background-position: 0 100%;
}

@media (min-width: 50em) {
  .sticky {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1000;
  }
}

/* home sticky style */

.home-p {
  position: fixed;
  top: 90%;
  left: 89%;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  z-index: 10000;
}

.home-p:hover {
  color: var(--accent);
  border-color: var(--accent);
  transform: translateY(-9%);
}

@media (min-width: 50rem) {
  .home-p {
    left: 92%;
  }
}

/* hero style */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 80vw;
  margin-inline: auto;
  min-height: 80vh;
  margin-bottom: 5rem;
}

.first-row {
  margin-top: 7rem;
  z-index: 10000;
}

.hero h1 {
  color: var(--accent);
  font-size: clamp(4rem, 10vw, 9rem);
  margin-bottom: 1rem;
}

.engineer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.engineer > span {
  width: 2rem;
  height: 2px;
  background: var(--light-text);
}

.engineer-child {
  font-size: clamp(0.8rem, 2.5vw, 1.6rem);
}

.resume {
  margin-top: 2rem;
  padding: 0.6rem 1.5rem;
  border: 2px solid var(--accent);
  transition: all 0.3s ease-in-out;
}

.resume:hover,
.resume:focus {
  box-shadow: inset 8.8rem 0 0 0 var(--accent);
  color: black;
}

.second-row {
  display: flex;
  justify-content: center;
}

.down {
  font-size: 2.2rem;
  transition: all 0.3s ease-in-out;
  z-index: 10000;
}

.arrow-down {
  transition: all 0.3s ease-in-out;
}

.arrow-down:hover {
  border-color: var(--accent);
  color: var(--accent);
  transform: translateY(-9%);
}

@media (min-width: 30em) {
  .hero {
    min-height: 85vh;
  }
  .engineer > span {
    width: 3rem;
    height: 2px;
    background: var(--light-text);
  }
}

/* about style */

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90vw;
  min-height: 100vh;
  margin-inline: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 3rem 1rem;
  background: rgba(0, 225, 255, 0.055);
  border-top: 7px solid var(--accent);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid var(--accent);
  z-index: 100;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading h1 {
  color: var(--accent);
  font-size: clamp(2.5rem, 7vw, 5rem);
  margin-bottom: 1rem;
}

.desc {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.desc > span {
  width: 2rem;
  height: 2px;
  background: var(--light-text);
}
.desc > p {
  font-size: clamp(0.8rem, 3vw, 1.5rem);
}

.bg-name {
  position: absolute;
  top: -3.5rem;
  font-size: clamp(9rem, 30vw, 23rem);
  color: rgba(225, 225, 225, 0.051);
}

.about .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 7rem;
  max-width: 100%;
}

.profile-img {
  max-width: 100%;
}

.profile-img > img {
  filter: brightness(35%);
  border-radius: 1.5rem;
}

.tooltip {
  display: none;
}

.tooltip > h3 {
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  color: var(--light-text);
}

.tooltip-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.3rem;
  font-size: 0.8rem;
  color: var(--dark-text);
}

.biography {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
}

.biography p {
  color: var(--dark-text);
  font-size: 0.95rem;
  line-height: 1.5;
  text-align: justify;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.list > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.list > div > .arrow-right {
  font-size: 0.8rem;
  color: var(--accent);
}

.list > div > p {
  font-size: 0.8rem;
  color: var(--dark-text);
}

@media (min-width: 50em) {
  .about {
    padding: 5rem 2rem;
    max-width: 70vw;
  }
  .profile-img {
    max-width: 65%;
  }
  .about .content {
    max-width: 60%;
  }
  .biography {
    max-width: 60%;
  }
  .tooltip {
    position: absolute;
    top: 5%;
    left: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
  }
}

/* work style */

.work {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90vw;
  min-height: 100vh;
  margin-inline: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem 1rem;
  background: rgba(0, 225, 255, 0.055);
  border-top: 7px solid var(--accent);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid var(--accent);
  z-index: 1000;
}

.work .content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 7rem;
}

.project {
  display: none;
}

.project-desc {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background: black;
  padding: 1.3rem;
}

.project-desc-child {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background: black;
  padding: 1.3rem;
  border: 2px solid var(--accent);
  border-radius: 1rem;
}

.project-desc .div,
.project-desc-child .div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.project-desc h2,
.project-desc-child h2 {
  color: var(--light-text);
  font-size: 0.85rem;
  text-transform: uppercase;
}

.project-desc .name,
.project-desc-child .name {
  color: var(--accent);
  font-size: clamp(1.2rem, 2vw, 1.6rem);
}

.project-desc:nth-child(2),
.project-desc-child:nth-child(2) {
  color: var(--accent);
}

.arr-project {
  margin-left: 1rem;
}

.project-desc p,
.project-desc-child p {
  color: var(--dark-text);
  font-size: clamp(0.75rem, 1vw, 0.9rem);
  line-height: 1.5;
}

.p-img-p::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--accent);
  opacity: 0.6;
  border-radius: 1rem;
  transition: all 0.4s ease-in-out;
}
.project:hover .p-img-p::after {
  opacity: 0;
}

.tech-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.tech-list > p {
  padding: 0.3rem;
  font-size: 0.75rem;
  color: var(--accent);
}

.link-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

@media (min-width: 50em) {
  .work {
    padding: 5rem 2rem;
    max-width: 70vw;
  }
}

@media (min-width: 66em) {
  .project {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

  .p-img-p {
    position: relative;
    grid-column: 1 / 10;
    grid-row: 1 / 1;
  }

  .project-desc {
    position: relative;
    gap: 0.8rem;
    padding: 1.3rem;
    grid-column: 7 / 13;
    grid-row: 1 / 1;
  }

  .p-wrapper:nth-of-type(even) .p-img-p {
    grid-column: 3 / 13;
    grid-row: 1 / 1;
  }

  .p-wrapper:nth-of-type(even) .project-desc {
    grid-column: 1 / 7;
    grid-row: 1 / 1;
  }

  .p-img {
    border: 2px solid var(--accent);
    border-radius: 1rem;
  }

  .p-img-p::after {
    border-radius: 1rem;
  }

  .project-desc {
    border: 2px solid var(--accent);
    border-radius: 1rem;
  }

  .project-desc-child {
    display: none;
  }

  .tech-list {
    gap: 1rem;
  }
}

/* website style */

.web-site {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 90vw;
  margin-inline: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.back {
  font-size: 2.5rem;
  color: var(--accent);
}

.web-site .content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (min-width: 50em) {
  .web-site {
    max-width: 70vw;
  }
}

/* footer */

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  max-width: 90vw;
  min-height: 100vh;
  margin-inline: auto;
  margin-top: 5rem;
  padding: 1.5rem;
  background: rgba(0, 225, 255, 0.055);
  border-top: 7px solid var(--accent);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid var(--accent);
  z-index: 1000;
}
.email-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  z-index: 1000;
}

/* .on-email {
  position: absolute;
  top: 4.7rem;
  left: 4.7rem;
  font-size: 1rem;
  color: black;
  transform: rotate(-30deg);
  z-index: 1;
} */

.f-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.f-icons a {
  transition: all 0.3s ease-in-out;
}

.f-icons a:hover {
  transform: translateY(-3px);
  color: var(--accent);
}

.contact .footer-img {
  font-size: 12rem;
  transition: all 0.3s ease-in-out;
}

.footer-img:hover {
  color: var(--accent);
}

.contact a {
  text-decoration: underline;
}

/* .footer-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

.footer-desc p {
  font-size: 0.8rem;
  color: var(--accent);
}

.footer-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

@media (min-width: 50em) {
  .contact {
    max-width: 70vw;
  }
}
