:root {
  --background: rgb(0, 0, 0);
  --accent: #00f2ff;
  --light-text: white;
  --dark-text: #eeeeee;
}

/* reset style */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  max-width: 100vw;
  min-height: 200vh;
  overflow-x: hidden;
}

body {
  background: var(--background);
  line-height: 1;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

p,
div,
span,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1.3px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/* navigation style */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80vw;
  margin-inline: auto;
  padding: 1rem 0 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 2.5rem;
}

.logo {
  background: rgb(254, 253, 20);
  background: linear-gradient(
    0deg,
    rgba(254, 253, 20, 1) 29%,
    rgba(254, 20, 20, 1) 49%,
    rgba(45, 253, 235, 1) 78%
  );
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.3rem;
}

/* hero style */

main h1 {
  background: rgb(229, 232, 47);
  background: linear-gradient(
    90deg,
    rgba(229, 232, 47, 1) 31%,
    rgba(199, 1, 1, 1) 51%,
    rgba(0, 212, 255, 1) 81%
  );
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
}
